
extends layout

block content
	include account

block append scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/js/views/signup.js')
	script(src='/js/controllers/signupController.js')
	script(src='/js/form-validators/accountValidator.js')
